-- Please review these SQL updates in your Supabase SQL Editor! They will dramatically speed up performance.

CREATE POLICY "Users can 
view own profile" ON 
profiles FOR SELECT USING 
((select auth.uid()) = id);
CREATE POLICY "Users can 
insert own profile" ON 
profiles FOR INSERT WITH 
CHECK ((select auth.uid()) = 
id);
CREATE POLICY "Users can 
update own profile" ON 
profiles FOR UPDATE USING 
((select auth.uid()) = id);
CREATE POLICY "Users can 
view own playlists" ON 
user_playlists FOR SELECT 
USING ((select auth.uid()) = 
user_id);
CREATE POLICY "Users can 
insert own playlists" ON 
user_playlists FOR INSERT 
WITH CHECK ((select 
auth.uid()) = user_id);
CREATE POLICY "Users can 
update own playlists" ON 
user_playlists FOR UPDATE 
USING ((select auth.uid()) = 
user_id);
CREATE POLICY "Users can 
delete own playlists" ON 
user_playlists FOR DELETE 
USING ((select auth.uid()) = 
user_id);
CREATE POLICY "Users can 
view own playlist tracks" ON 
playlist_tracks FOR SELECT 
CREATE POLICY "Users can 
insert own playlist tracks" 
ON playlist_tracks FOR 
INSERT 
CREATE POLICY "Users can 
delete own playlist tracks" 
ON playlist_tracks FOR 
DELETE 
CREATE POLICY "Users can 
view own likes" ON 
user_likes FOR SELECT USING 
((select auth.uid()) = 
user_id);
CREATE POLICY "Users can 
insert own likes" ON 
user_likes FOR INSERT WITH 
CHECK ((select auth.uid()) = 
user_id);
CREATE POLICY "Users can 
delete own likes" ON 
user_likes FOR DELETE USING 
((select auth.uid()) = 
user_id);
CREATE POLICY "Users can 
view own history" ON 
listening_history FOR SELECT 
USING ((select auth.uid()) = 
user_id);
CREATE POLICY "Users can 
insert own history" ON 
listening_history FOR INSERT 
WITH CHECK ((select 
auth.uid()) = user_id);
CREATE POLICY "Users can 
view own library" ON 
user_library FOR SELECT 
USING ((select auth.uid()) = 
user_id);
CREATE POLICY "Users can 
insert own library" ON 
user_library FOR INSERT WITH 
CHECK ((select auth.uid()) = 
user_id);
CREATE POLICY "Users can 
delete own library" ON 
user_library FOR DELETE 
USING ((select auth.uid()) = 
user_id);
CREATE INDEX IF NOT EXISTS 
idx_playlists_user ON 
user_playlists(user_id);
CREATE INDEX IF NOT EXISTS 
idx_playlist_tracks_playlist 
ON 
playlist_tracks(playlist_id);
CREATE INDEX IF NOT EXISTS 
idx_likes_user ON 
user_likes(user_id);
CREATE INDEX IF NOT EXISTS 
idx_history_user ON 
listening_history(user_id);
CREATE INDEX IF NOT EXISTS 
idx_history_played ON 
listening_history(played_at 
DESC);
CREATE INDEX IF NOT EXISTS 
idx_library_user ON 
user_library(user_id);


